/* General Styles */
body { 
  margin: 0px;
  color: rgba(0, 0, 0, 0.87);
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.00938em;
  background-color: rgb(255, 255, 255);
}
#main {
  margin: 24px;
}
h2,h3,h4,h5,h6 {font-family: "Roboto", "Helvetica", "Arial", sans-serif}

/* re-set styles for links */
#maintext a:not(.pullquoteLink), #downloads a, #instructions a {
  color: #007bff;
  text-decoration: underline;
}
#maintext a:hover:not(.pullquoteLink), #downloads a:hover, #instructions a:hover {
  color: #0056b3;
}
#maintext a:visited:not(.pullquoteLink), #downloads a:visited, #instructions a:visited {
  color: purple;
}
#maintext a:active:not(.pullquoteLink), #downloads a:active, #instructions a:active {
  color: red;
}

/* hover tooltips */
.tooltip-inner {
    background-color: #616161;
}
.tooltip.bs-tooltip-right .arrow:before {
    border-right-color: #616161 !important;
}
.tooltip.bs-tooltip-left .arrow:before {
    border-left-color: #616161 !important;
}
.tooltip.bs-tooltip-bottom .arrow:before {
    border-bottom-color: #616161 !important;
}
.tooltip.bs-tooltip-top .arrow:before {
    border-top-color: #616161 !important;
}
#mapInfo > .tooltip-inner {
    background-color: red;
}

/* styles for a simple 'card' with rounded corners and gray border and blue header */
.cardPanel {
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 8px;
  padding: 1.25rem;
  clear: both;
}
.cardTitle {
  color: #006aad;
  font-size: 1.2em;;
}

/* primary button stles */
#btnSimpleSearch, #btnClearSearch {
  color: #fff;
  background-color: #006aad;
  padding: 6px 16px;
  font-size: 0.875rem;
  min-width: 90px;
  border: none;
  box-sizing: border-box;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  line-height: 1.75;
  border-radius: 4px;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
}
#btnSimpleSearch:active, #btnClearSearch:active {
  box-shadow: 0px 5px 5px -3px rgb(0 0 0 / 20%), 0px 8px 10px 1px rgb(0 0 0 / 14%), 0px 3px 14px 2px rgb(0 0 0 / 12%);
}
#btnSimpleSearch:hover, #btnClearSearch:hover {
  background-color: rgb(0, 74, 121);
}

/* header styles */
#bannerHead {
  min-height: 56px;
  padding: 8px;
  margin-bottom: 10px;
  box-shadow: rgb(0 0 0 / 20%) 0px 2px 4px -1px, rgb(0 0 0 / 14%) 0px 4px 5px 0px, rgb(0 0 0 / 12%) 0px 1px 10px 0px;
  background-color: #006aad !important;
  color: rgb(255, 255, 255) !important;
}
h1 {
  font-size: 1.25rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.0075em;
  margin: 0px;
  padding-left: 12px;
}
/* hamburger menu */
.menuDiv {
  cursor: pointer;
  font-size: .8em;
  padding: 12px;
  border-radius: 50%;
}
.menuDiv:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.mnuItem, .mnuItem a {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: .9em;
  cursor: pointer;
  text-decoration: none;
  color: #212529;
}
.mnuItem span.material-symbols-outlined {
  color: #707070;
}

/* Intro/About/Welcome text Styles */
#maintext button {
  border-radius: 5px;
  border: none;
  background-color: #fff;
  padding: 0px 3px 0px 8px;
  font-size: .8em;
  text-decoration: underline;
  color: #007bff;
}
#maintext button:hover {
  color: #0056b3;
}
.inset {
  float: right;
  margin: 2em 0 0 1em;
  padding: 0.5em;
  width: 300px;
}
.pullquote {
  color: #006aad;
  font-size: 0.8rem;
  font-style: italic;
  margin: 0;
}
a.pullquoteLink {
  color: #006aad;
  text-decoration: none;
}

/* Map, toolbar, and map Info icon styles */
#mapid {
  border: 1px solid rgba(0,0,0,.125);
  margin-top: -34px;
  background-clip: border-box;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}
.mapBar {
  padding: 5px;
  border-top: 1px solid rgba(0,0,0,.125);
  border-left: 1px solid rgba(0,0,0,.125);
  border-right: 1px solid rgba(0,0,0,.125);
  border-top-right-radius: 0.25rem;
  border-top-left-radius: 0.25rem;
  background-clip: border-box;
}
/* map info icon */
#mapInfo {
  position: relative;
  top:  84px;
  left: 12px;
  z-index: 1000;
  border: 2px solid rgba(0,0,0,0.2);
  border-radius: 4px;
  color: #46535c;
  width: 34px;
  height: 34px;
  background-color: #fff;
  background-clip: padding-box;
  padding: 3px;
}
#mapInfo:hover {
  background-color: #f4f4f4;
}
span.material-symbols-outlined.icon-ctr {
    vertical-align: baseline;
}
/* Buttons for the map */
.mapButton {
  padding: 6px 16px;
  font-size: 0.875rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  line-height: 1.75;
  border-radius: 4px;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  margin: 6px;
}
button.mapButton:disabled {
  border: 1px solid rgba(60,64,67,.12);
  color: rgba(60,64,67,.38);
  background-color: #fff;
}
.mapButton:not(:disabled) {
  border: 1px solid rgb(218,220,224);
  color: #006aad;
  background-color: #fff;
}
.mapButton:not(:disabled):hover {
  border: 1px solid rgb(218,220,224);
  color: #006aad;
  background-color: #F9F9F9;
}
#btnTimePeriod {
  padding-right: 8px;
}
span.checkSpan {width: 24px;}


/* Leaflet Map Info box and Legend */
.leaflet-top {
  z-index: 900; /* decreases default z-index of controls at top of map */ 
}
.info {
  padding: 6px 8px;
  font-size: 14px;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}
.info h4 {
  margin: 0 0 5px;
  color: #777;
  font-size: 14px;
  line-height: 16px;
}
.legend {
  text-align: left;
  line-height: 18px;
  color: #555;
}
.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

/* misc text styles */
div.show {display:block;}
div.hide {
  display: none;
}
.material-symbols-outlined {
  vertical-align: middle;
}
label {
  margin: 0px;
  padding-right: 2px;
}
#downloads {
  margin-top: 18px;
}
#downloads table {
  border: 1px solid rgba(0,0,0,.125);
  border-collapse:collapse;
}
#downloads th, td {
  padding: 6px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.87);
  border: 1px solid rgba(0,0,0,.125);
  line-height: normal;
}
#downloads td {
  font-size: .9em;
}
.tableNote {
  font-family: arial;
  font-size: 8pt;
  line-height: normal;
  margin-top: 1em;
}
#dateLastUpdated {
  font-size: .9rem;
  font-weight: bold;
  color: #006aad;
}

/* data "update in progress" status box */
#status_msg {
  font-size: .9em;
  line-height: 1.3;
  border-radius: 10px;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 3000;
  padding: 0px;
  width:  300px;
  opacity: 0.95;
  background: #fff;
  border: 1px solid #757575;
}
.status_head {
  font-size: 1em;
  font-weight: bold;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 5px 10px;
  border-bottom: 1px solid #757575;
}
.msg {
  padding: 10px;
}
.warning .status_head {
  background: #fff899;
}
.notice .status_head {
  background: #c0e8b3;
}
.status_btn {
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 5px 30px;
    float: right;
    font-weight: 500;
    border: 1px solid #757575;
    border-radius: 4px;
}
